body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
p, h2, h3, h4 {
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: auto;
    align-items: center;
}
.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    padding: 30px;
    margin: auto;
}
